
.navbar{
    background-color:#f8f5f1;

}
.navbar a{
    text-decoration: none;
    color:   rgb(3, 3, 43) ;

}
.Icon{
    width: 18px;
    height: 18px;
}
.counter_newNotification{
    background: red;
    width: 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 50%;
}