.navbar {
  background-color: #f8f5f1;

}
.navbar a {
  text-decoration: none;
  color: rgb(3, 3, 43);
  display: flex;

}
.Icon{
    width: 18px;
    height: 18px;
}
.counter_newNotification{
    background: red;
    width: 20px;
    height: 22px;
    border-radius: 10px;
    margin-bottom: 50%;
    position: absolute;
    right:10px;
}
