.navbar {
  background-color: #f8f5f1;
}
.navbar a {
  text-decoration: none;
  color: rgb(3, 3, 43);
  display: flex;
}
.Icon {
  width: 18px;
  height: 18px;
}
.Icon:hover {
    border-bottom:1px solid black ;
}
  
