@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

.table {
  width: 80%;
  margin-bottom: 5%;
  font-family: "Patrick Hand", cursive;
  border-radius: 10px;
  border: 2px solid rgb(6, 6, 49);
  margin: auto;
  margin-top: 20%;
  color: rgb(6, 6, 49);
  height: 350px;
}
.tr {
  border: 1px solid #dddddd;
  text-align: left;
  border: 2px solid rgb(6, 6, 49);
  border-radius: 5px;
  color: rgb(6, 6, 49);
}
th {
  font-size: 20px;
  color: rgb(6, 6, 49);
  border: 2px solid rgb(6, 6, 49);
border-radius: 5px;
color: rgb(6, 6, 49);

}
.button {
  color: rgb(6, 6, 49);
}


@media only screen and (min-width: 425px) and (max-width: 768px) {
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse 2px black;
    height: 30%;
    margin-top: 35%;
    font-family: "Times New Roman", Times, serif;
    color: rgb(6, 6, 49);
  }
  .tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    color: rgb(6, 6, 49);
    width: 8px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16.5px;
    border: 2px solid rgb(6, 6, 49);
    border-radius: 5px;
  }

  button {
    color: rgb(6, 6, 49);
    border: 2px solid rgb(6, 6, 49);
    border-radius: 5px;
  }
}

@media  only screen  and (min-width:375px) and (max-width:426px){
  .table {
    border-collapse: collapse 2px rgb(6, 6, 49);
    height: 30%;
    font-family: "Times New Roman", Times, serif;
    color: rgb(6, 6, 49);
    margin-top: 270px;
  }
  .tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    color: rgb(6, 6, 49);
    width: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 8.5px;
    border: 2px solid rgb(6, 6, 49);
    border-radius: 5px;
  }

  button {
    color: rgb(6, 6, 49);
    border: 2px solid rgb(6, 6, 49);
    border-radius: 5px;
  }
}
@media  only screen  and (min-width:320px) and (max-width:376px){
  .table {
    border-collapse: collapse 2px rgb(6, 6, 49);
    height: 30%;
    font-family: "Times New Roman", Times, serif;
    color: rgb(6, 6, 49);
    margin-top: 150px;
  }
  .tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    color: rgb(6, 6, 49);
    width: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 7.5px;
    border: 2px solid rgb(6, 6, 49);
    border-radius: 3px;
  
  }

  button {
    color: rgb(6, 6, 49);
    border: 2px solid rgb(6, 6, 49);
    border-radius: 5px;
  }
}
