.page-body{
    
    text-align: center;
    display: grid;   
   width: 60%;
   margin: auto;
   grid-template-columns: 50% ;  
   grid-template-areas:
   'search search search sidebar '
   ' main main main sidebar'
   ' main main main sidebar'
   ' main main main sidebar'
   ;
margin-top:20px;
}
.posts{
    margin-top: 0;
    text-align: center;
    grid-area: main ;
}

.requestsContainer{
   /* border:1px solid #ccc; */
    grid-area: sidebar;
    width: 200px;

}
.searchBar{
    grid-area: search;
    max-height: 100px;
   margin-bottom: 0;
}
.post-popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
  }
   
  .post-box {
    position: relative;
    width: 55%;
    margin: 0 auto;
    height: 90vh;
    max-height: 90vh;
    margin-top: calc(100vh - 95vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  .post-box button{
   cursor:pointer;
   width: 60px;
   margin:auto;
   margin-top: 20px;
   height:30px;
   background-color: #999;
   text-align:center;
   border: 1px solid #999;
  }
   .PopUpCard{
       width: 99%;
       text-align:left;
   }
   .post-PopUpText{
       display: flex;
    flex-direction: column;
    margin:auto;

text-align:left;
       width: 80%;
   }
   .post-PopUpText p{

text-align:left;
   
   }
   .post-PopUpText h1 {
       text-align:center;
       font-size:x-large;
   }
   .post-nameTag{
       margin-top: 0;
       font-size:small;
       float: left;
   }
   .post-commentInput{
       width: 80%;
       height:200px;
   }
  .post-close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(25% - 45px);
    top: calc(100vh - 93vh - 33px);
    background: #ededed;
    width: 25px;
    color:white;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    background-color: black;
    border: 1px solid #999;
    font-size: 20px;
  }

  .post-comment-box{
    width: 90%;
    height: 100px;
    word-wrap: break-word;
    margin:auto;
    border: 1px solid #999;
    background-color: red;
  }
  .commentWriter{
    float: left;
  }
  .report-popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
  }
   
  .report-box {
    position: relative;
    width: 45%;
    margin: 0 auto;
    height: 50vh;
    max-height: 90vh;
    margin-top: 20vh;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  .report-reason{
      width:80%;
      margin:auto;
border: 1px solid #999;
border-radius: 10px;
display:flex;
flex-wrap: wrap;
justify-content:space-between
  }
  .report-reason button{
      width:25%;
      height:50px;
      margin:10px;
      border: 1px solid #999;
border-radius: 10px;
transition-duration:1s;
cursor: pointer;
  }
  .report-reason button:hover{
opacity:0.7;
background-color:tomato
  }
  .send-report{
      width:50px;
    height:50px;
    margin:10px;
    border: 1px solid #999;
border-radius: 10px;
cursor: pointer;
  }
  .report-close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(30% - 60px);
    top: calc(100vh - 80vh );
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color:white;
    background-color: black;
    border: 1px solid #999;
    font-size: 20px;
  }
  .search-box{
      background-color:red;
      position: relative;
      height:200px;
      z-index: 100;
      overflow-y: scroll;
      text-align: left;
  }
  .user-result{
      border-bottom: 1px solid black;
      height:40px
  }
  .create-post-btn{
margin: auto;
margin-top:5px;
margin-left: 0;
      width:90%;
      height:40px;
      border-radius: 10px;
      background-color:wheat;
      font-size:x-large;
      cursor: pointer;
  }
  .create-post-popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
  }
   
  .create-post-box {
    position: relative;
    width: 55%;
    margin: 0 auto;
    height: 90vh;
    max-height: 90vh;
    margin-top: calc(100vh - 95vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  .create-button{
      width:200px;
      margin-top: 5px;
      height: 40px;
      background-color: wheat;
      font-size:x-large;
      cursor: pointer;
  }
    .create-post-close-icon {
        content: 'x';
        cursor: pointer;
        position: fixed;
        right: calc(25% - 45px);
        top: calc(100vh - 93vh - 33px);
        background: #ededed;
        width: 25px;
        color:white;
        height: 25px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        background-color: black;
        border: 1px solid #999;
        font-size: 20px;
      }