.page-body {
  overflow: none;
  text-align: center;
  display: grid;
  width: 75%;
  max-width: 75%;

  margin: auto;
  grid-template-columns: 50%;
  grid-template-areas:
    "search search search sidebar "
    " main main main sidebar"
    " main main main sidebar"
    " main main main sidebar";
}

.posts {
  margin-top: 0;
  text-align: center;
  grid-area: main;
  width: 100%;
  min-height: 10vh;
}


.requestsContainer {
  grid-area: sidebar;
  width: 200px;
  margin-top: 20px;
}
.searchBar {
  grid-area: search;
  max-height: 100px;
  margin: auto;
  margin-bottom: 0;
  width: 90%;
  margin-top: 20px;
}
.avatar {
  color: rgb(5, 5, 46);
  text-decoration: none;
}
.avatar:hover {
  font-weight: bold;
  font-size: larger;
}
.post-popup-box {
  position: fixed;
  background: rgb(5, 5, 46);
  width: 99%;
  height: 1000vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.post-box {
  position: relative;
  width: 55%;
  margin: 0 auto;
  height: 90vh;
  max-height: 90vh;
  margin-top: calc(100vh - 95vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid rgb(5, 5, 46);
  overflow: auto;
}
.post-box button {
  cursor: pointer;
  width: 60px;
  margin: auto;
  margin-top: 20px;
  height: 30px;
  background-color: rgb(5, 5, 46);
  text-align: center;
  border: 1px solid #999;
}
.PopUpCard {
  width: 99%;
  text-align: left;
}
.post-PopUpText {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  width: 80%;
  color:rgb(5, 5, 46);
}
.post-PopUpText p {
  text-align: left;
}
.post-PopUpText h1 {
  text-align: center;
  font-size: x-large;
}
.post-nameTag {
  margin-top: 0;
  font-size: small;
  float: left;
}

.post-close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(25% - 20px);
  top: calc(100vh - 93vh - 33px);
  width: 45px;
  color: rgb(5, 5, 46);
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}
.post-close-icon:hover {
  font-weight: bold;
}
.post-commentInput {
  width: 80%;
  height: 200px;
  margin-bottom: 0;
}
.post-comment-box {
  width: 90%;
  height: 100px;
  margin: auto;
  border: 1px solid rgb(5, 5, 46);
  background-color: white;
}
.post-comment-box p {
  text-align: left;
  margin-top: 20px;
  word-wrap: break-word;
  width: 80%;
}
.commentWriter {
  float: left;
  cursor: pointer;
  text-decoration: none;
  color: rgb(5, 5, 46);
}
.commentWriter:hover {
  font-weight: bold;
}

.comment-btn {
  margin-top: 0;
  height: 70px;
  width: 80%;
  margin: auto;
}
.comment-btn button {
  margin-top: 0;
  float: right;
}
.report-popup-box {
  position: fixed;
  background: rgb(5, 5, 46);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.report-box {
  position: relative;
  width: 45%;
  margin: 0 auto;
  height: 50vh;
  max-height: 90vh;
  margin-top: 20vh;
  background: rgb(5, 5, 46);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid rgb(5, 5, 46);
  overflow: auto;
}
.report-reason {
  width: 80%;
  margin: auto;
  border: 1px solid rgb(5, 5, 46);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.report-reason button {
  width: 25%;
  height: 50px;
  margin: 10px;
  border: 1px solid rgb(5, 5, 46);
  border-radius: 10px;
  transition-duration: 1s;
  cursor: pointer;
}
.report-reason button:hover {
  opacity: 0.7;
  background-color: rgb(5, 5, 46);
}
.send-report {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  cursor: pointer;
}
.report-close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(30% - 50px);
  top: calc(100vh - 80vh);
  width: 45px;
  color: rgb(5, 5, 46);
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}
.report-close-icon:hover {
  font-weight: bold;
}
.search-box {
  background-color: white;
  position: relative;
  height: 200px;
  z-index: 100;
  overflow-y: scroll;
  text-align: left;
}
.user-result {
  height: 40px;
  color: black;
}
.user-result a {
  text-decoration: none;
  color: black;
}
.user-result a:hover {
  font-weight: bold;
  font-size: large;
}
.create-post-btn {
  margin: auto;
  margin-top: 5px;
  margin-left: 0;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(24, 24, 97);
  color: aliceblue;
  font-size: x-large;
  cursor: pointer;
}

.post-popup-box {
    position: fixed;
    background: #00000050;
    width: 99%;
    height: 1000vh;
    top: 0;
    left: 0;
    z-index: 1000;
  }
   
  .post-box {
    position: relative;
    width: 55%;
    margin: 0 auto;
    height: 90vh;
    max-height: 90vh;
    margin-top: calc(100vh - 95vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  .post-box button{
   cursor:pointer;
   width: 60px;
   margin:auto;
   margin-top: 20px;
   height:30px;
   background-color: #999;
   text-align:center;
   border: 1px solid #999;
  }
   .PopUpCard{
       width: 99%;
       text-align:left;
   }
   .post-PopUpText{
       display: flex;
    flex-direction: column;
    margin:auto;
color: rgb(5,5,46);
text-align:left;
       width: 80%;
   }


.create-post-popup-box {
  position: fixed;
  background: rgb(5, 5, 46);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.create-post-box {
  position: relative;
  width: 55%;
  margin: 0 auto;
  height: 90vh;
  max-height: 90vh;
  margin-top: calc(100vh - 95vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid rgb(5, 5, 46);
  overflow: auto;
}
.create-button {
  width: 200px;
  margin-top: 5px;
  height: 40px;
  background-color: rgb(5, 5, 46);
  font-size: x-large;
  cursor: pointer;
}
.create-post-close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(25% - 20px);
  top: calc(100vh - 93vh - 33px);
  width: 45px;
  color: rgb(5, 5, 46);
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}
.create-post-close-icon:hover {
  font-weight: bold;
}
.requestsBox {
  border: "1px solid black";
}
.css-4vjr74-MuiPaper-root-MuiCard-root {
  background-color: white;
  color: rgb(5, 5, 46);
  border: 1px solid;
}
@media screen and (max-width: 1024px) {
  .requestsContainer {
    text-align: center;
    max-width: 150px;
  }
}
@media screen and (max-width: 990px) {
  .page-body {
    text-align: center;
    margin: auto;
    width: 90%;
    max-width: 90%;
    grid-template-areas:
      "search search search  "
      "sidebar sidebar sidebar"
      " main main main "
      " main main main "
      " main main main ";
  }
  .requestsList {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  .requestsBox {
    overflow-y: scroll;
  }

  .requestsList li {
    background-color: #999;
    width: 100%;
  }
  .requestsContainer {
    width: 100%;
    margin: auto;
    max-width: 600px;
  }
}
@media screen and (max-width: 490px) {
  .create-post-box {
    width: 80%;
  }
  .create-post-box input {
    width: 40%;
  }
  .page-body {
    width: 99%;
    max-width: 99%;
  }
  .searchBar {
    max-width: 70%;
    margin: auto;
  }
  .posts {
    max-width: 90%;
    margin: auto;
  }
  .requestsContainer {
    max-width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .page-body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-left: 0;
  }
  .posts {
    max-width: 60%;
  }
  .searchBar {
    max-width: 60%;
  }

  .requestsContainer {
    max-width: 50%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 376px) {
  .page-body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-left: 0;
  }
  .posts {
    max-width: 60%;
    margin-left: 40px;
  }
  .searchBar {
    max-width: 60%;
    margin-left: 40px;
    margin-top: 30px;
  }
  .requestsContainer {
    max-width: 50%;
    margin-left: 70px;
  }
  .Card {
    height: 250px;
    margin-left: 50px;
  }
}
