.About {
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  border-bottom: 1px rgb(1, 1, 37);
  justify-content: center;
  position: relative;
  font-family: 'Patrick Hand', cursive;
}
.About p {
  width: 60%;
  padding: 20px;
  height: 27vh;
  margin-top: 400px;
  margin-right: 400px;
  font-size: medium 
  
}
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
