.CeratedPostsComponent {
  margin-top: 300px;
  height: 100%;
}
.CeratedPosts {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 70px;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 20px;
}
h3 {
  width: 200px;
  height: 40px;
  margin-left: 100px;
}
.CeratedPosts .post {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 72px;
  border-radius: 10px;
  border: 1px solid rgb(33, 34, 34);
  margin: 8px;
}
.CeratedPostsComponent .postIcon {
  width: 60px;
  height: 60px;
  color: rgb(5, 5, 46);
}
.CeratedPosts .editButton {
  width: 15px;
  height: 15px;
  color: rgb(5, 5, 46);
  margin-top: 30px;
  margin-left: 60px;
}

@media  only screen  and (min-width:425px) and (max-width:768px){
  .CeratedPosts .editButton {
    width: 15px;
    height: 15px;
    color: rgb(5, 5, 46);
    margin-top: 30px;
    margin-left: 40px;
  }
}
