.JoinedPosts {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.post {
  width: 200px;
  height: 200px;
  border: 3px black solid;
  border-radius: 20px;
  background-color: rgba(180, 129, 228, 0.178);
}
.post .userIcon {
  width: 20px;
  height: 20px;
  color: black;
}
