.JoinedPost {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 70px;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 10px;

}
.JoinedPost .post {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 74px;
  border-radius: 10px;
  border: 1px solid #52AB89 ;
  margin-bottom: 60px;

}

.JoinedPost .postIcon {
  width: 50px;
  height: 80px;
  color: #52AB89 ;
}

h3 {
  margin-top: 50px;
  margin-left: 146px;
  color: rgb(6, 6, 49);
}

.postIcon {
  width: 60px;
  height: 60px;
  color: rgb(179, 174, 164);
}

.JoinedPost .editButton {
  width: 30px;
  height: 20px;
  color: rgb(6, 6, 49);
  margin-top: 30px;
}


